@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img style="display: block; margin-left: auto; margin-right: auto;" src="~/Content/mainImage.png"/>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            UniversitySite gives you a powerful, knowledge and ability to track performance
            lets start!
        </p>

    </div>
    <div class="col-md-4">
        <h2>Students</h2>
        <p>You can track the performance and asks the professors.</p>
    </div>
    <div class="col-md-4">
        <h2>Professors</h2>
        <p>You can easily find info about all students and reporting easy.</p>
    </div>
</div>